{{nav-bar}}
<header class="video">
  <video autoplay loop>
    <source src="/assets/videos/growing.mp4" type="video/mp4">
  </video>
  <div class="intro-content">
    <img src="/assets/images/profile.png" class="img-responsive img-centered" alt="Balanced Gains Logo" />
    <div class="brand-name">Balanced Gains</div>
    <hr class="colored" />
    <div class="brand-name-subtext">Offset capital gains with realized losses</div>
  </div>
  <div class="scroll-down page-scroll">
    <a class="btn page-scroll" href="#about">
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
</header>
<section id="about">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-12 wow fadeIn">
        <h1>Professional Portfolio Management</h1>
        <p>Vitality is the perfect theme for a freelance professional or an agency.</p>
        <hr class="colored" />
      </div>
    </div>
    <div class="row text-center content-row">
      <div class="col-md-3 col-sm-6 wow fadeIn">
        <div class="about-content">
          <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
          <h3>Retina Ready</h3>
          <p>This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn">
        <div class="about-content">
          <i class="fa fa-edit fa-4x" aria-hidden="true"></i>
          <h3>Easy to Edit</h3>
          <p>Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn">
        <div class="about-content" aria-hidden="true">
          <i class="fa fa-tablet fa-4x"></i>
          <h3>Responsive</h3>
          <p>When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn">
        <div class="about-content" aria-hidden="true">
          <i class="fa fa-heart fa-4x"></i>
          <h3>Built with Love</h3>
          <p>All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 contact-details">
        <h4><i class="fa fa-share-square" aria-hidden="true"></i> Share</h4>
        <ul class="list-inline">
          <li><a href="//www.facebook.com"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li><li><a href="//twitter.com"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li><li><a href="//www.linkedin.com"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 contact-details">
        <h4><i class="fa fa-envelope" aria-hidden="true"></i> Email</h4>
        <p><a href="mailto:support@balancedgains.com">support@balancedgains.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
